<div class="panel panel-primary">
	<div class="panel-heading">Search repositories</div>
	<div class="panel-body">
		<form class="navbar-form navbar-left" role="search">
		  <div class="form-group">
			<input type="text" class="form-control" placeholder="Write search terms" ng-model="name" />
			<button type="button" class="btn btn-primary" ng-click="search()">search</button>
			<button type="button" class="btn btn-default" ng-click="clear()">clear</button>
		  </div>
		</form>
	</div>
</div>
<table class="table table-striped table-bordered table-responsive" ng-show="repositories">
	<thead>
		<tr>
			<th>#</th>
			<th>name</th>
			<th>Description</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		<tr  ng-repeat="repository in repositories">
			<th><a ui-sref-active="active">{{repository.id}}</a></th>
			<td>{{repository.name}}</td>
			<td>{{repository.description}}</td>
			<td><a href="{{repository.html_url}}" target="_blank">{{repository.html_url}}</a></td>
		</tr>
	</tbody>
</table>