<!-- template -->
<div class="panel panel-primary">
	<div class="panel-heading">Posts</div>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>User</th>
				<th>Title</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<!-- ng-repeat: Iterates a collection -->
			<tr ng-repeat="post in postsCtrl.posts"><!-- this section will be repeated for each "post" -->
				<th>{{post.id}}</th>
				<td>{{post.userId}}</td>
				<td>{{post.title}}</td>
				<td>
					<button class="btn btn-primary btn-sm" ng-click="postsCtrl.edit(post)"><span class="glyphicon glyphicon-edit"></span>Edit</button>
					<button class="btn btn-danger btn-sm" ng-click="postsCtrl.deletePost(post)"><span class="glyphicon glyphicon-trash"></span>Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>